<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4f2466ed-4a60-42d3-a7d1-fd42bd61369e/resourceGroups/GamerRKSI/providers/Microsoft.Web/sites/GamerRKSI</ResourceId>
    <ResourceGroup>GamerRKSI</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://gamerrksi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gamerrksi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GamerRKSI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GamerRKSI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>