@{
    ViewData["Title"] = "О нас";
}


<div class="about">
    <h1>О нас</h1>
    <div class="content">
        <div>
            <img src="~/img/About/Murad.jpg">
        </div>
        <div class="text">
            <p>Гаджикурбанов Мурад, создатель сайта "Геймер РКСИ" и финансовый директор компании.</p>
        </div>
    </div>
    <h2>ReactiveSteal</h2>
    <div class="content">
        <div>
            <img src="~/img/About/Gleb.jpg">
        </div>
        <div class="text">
            <p>
                Стрюков Глеб, UI дизайнер и 3D художник.
            </p>
        </div>
    </div>
    <div class="content">
        <div>
            <img src="~/img/About/Bash.jpg">
        </div>
        <div class="text">
            <p>Андрей Трушкин, программист, тестировщик.</p>
        </div>
    </div>
    <div class="content">
        <div>
            <img src="~/img/About/Marat.jpg">
        </div>
        <div class="text">
            <p>Марат Алаев, аналитик, геймдизайнер.</p>
        </div>
    </div>
    <h2>DragonFlex</h2>
    <div class="content">
        <div>
            <img src="~/img/About/Vika.jpg">
        </div>
        <div class="text">
            <p>Вика Саргсян, UI-дизайнер.</p>
        </div>
    </div>
    <div class="content">
        <div>
            <img src="~/img/About/Begunov.jpg">
        </div>
        <div class="text">
            <p>Андрей Бегунов, программист.</p>
        </div>
    </div>
    <h2>Dungeon</h2>
    <div class="content">
        <div>
            <img src="~/img/About/Makarenko.jpg">
        </div>
        <div class="text">
            <p>Александр Макаренко, разработчик VR-игры.</p>
        </div>
    </div>
    <h2>SteamExistence</h2>
    <div class="content">
        <div>
            <img src="~/img/About/Taras.jpg">
        </div>
        <div class="text">
            <p>Поповян Тарас, UI-дизайнер, гейм дизайнер, дизайнер уровней. </p>
        </div>
    </div>
    <div class="content">
        <div>
            <img src="~/img/About/German.jpg">
        </div>
        <div class="text">
            <p>Багаевский Герман, аналитик и программист.</p>
        </div>
    </div>
    <div class="content">
        <div>
            <img src="~/img/About/Sanya.jpg">
        </div>
        <div class="text">
            <p>Александр Коновалов, разработчик сетевого режима.</p>
        </div>
    </div>
</div>
