@{
    ViewData["Title"] = "Gamer RKSI";
}

    <main>
        <div class="card-deck">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/SE.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Steam Existence</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="SteamExistence">Просмотреть</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/RS.jpg" alt="Card image cap" style=" width: 253px; height: 380px;">
                <div class="card-body">
                    <h5 class="card-title">Reactive steal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="ReactiveSteal">Просмотреть</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dragon flex</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="DragonFlex">Просмотреть</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/LogoDangeon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dangeon</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Dungeon">Просмотреть</a>
                </div>
            </div>
        </div>

    </main>

    <section>
        <h2 class="about-title">Наш магазин</h2>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/img/cap.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
</section>


