@{
    ViewData["Title"] = "Gamer RKSI";
}

<main>
    <div class="card-deck">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/SE.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Steam Existence</h5>
                <p class="card-text">Steam existence– это ролевая игра, в которой игрок начинает играть за определенного персонажа и ведёт его по игровому миру в попытке найти и уничтожить «N личность». Всё действие происходит в трехмерном мире.</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="SteamExistence">Просмотреть</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/RS.jpg" alt="Card image cap" style=" width: 253px; height: 380px;">
            <div class="card-body">
                <h5 class="card-title">Reactive steal</h5>
                <p class="card-text">
                    Местом действия выступают засекреченные научные комплексы и заводы по производству сырья для производства роботов, игроку предстоит побывать во многих интересных местах на локации
                    и сражражаться с ИИ.
                </p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="ReactiveSteal">Просмотреть</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dragon flex</h5>
                <p class="card-text">Dragon Flex - игра платформер, где главным героем является душа дракона - хранителя Амоса. Ему предстоит пройти сложное путешествие, дабы выплатить свой долг за ошибку сполна. Этот мир ошибок не прощает...</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="DragonFlex">Просмотреть</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/img/LogoDangeon.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dangeon</h5>
                <p class="card-text">
                    Dangeon – приглашает вас испытать свои силы в поиске и решение загадок. Не хотите напрягаться?
                    Выход есть – исследуйте город, полный своих тайн. Будьте внимательны и не упустите ничего из виду. Никогда.
                </p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Dungeon">Просмотреть</a>
            </div>
        </div>
    </div>

</main>

<section>
    <h2 class="about-title">Наш магазин</h2>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="/img/1 (1).jpg" class="card-img-top" alt="img" style="width:  ">
            <div class="card-body">
                <h5 class="card-title">Кепка</h5>
                <p class="card-text">Белая кепка с фирменным логотипом компании.</p>
                <button data-product-id="1" class="btn btn-primary" onclick="addCartItem(this)">В корзину</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/2.jpg" class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Футболка</h5>
                <p class="card-text">Белая футболка с фирменным логотипом компании.</p>
                <button data-product-id="2" class="btn btn-primary" onclick="addCartItem(this)">В корзину</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/img/3.jpg" class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Кружка</h5>
                <p class="card-text">Белая кружка с фирменным логотипом компании.</p>
                <button data-product-id="3" class="btn btn-primary" onclick="addCartItem(this)">В корзину</button>
            </div>
        </div>
    </div>
</section>
