
@{
    ViewData["Title"] = "Companies";
}
    <div class="geg">
        <nav aria-label="breadcrumbc">
            <ol class="breadcrumb p-0 bg-white">
                <li class="breadcrumb-item"><a class="home" href="~/Home">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Компании</li>
            </ol>
        </nav>
    </div>
    <p>Официально аккредитованные компаний на добычу драгоценных металлов.</p>
    <div class="pt-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;">Код</th>
                    <th>Металл</th>
                    <th>Компания</th>
                    <th>Баланс</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
