header {
    background-color: #0b0b0b;
}

section h2 {
    margin-bottom: 50px;
    text-align: center;
}

footer {
    background-color: #0b0b0b;

}

header a, header a:hover {
    color: white;
}

.orders-table th, .orders-table td {
    text-align: center;
}