.heading {
    margin-top: 50px;
    text-align: center;
}

.carousel-item > img {
    width: 1200px;
}

.carousel-control-prev-icon {
    opacity: 40%;
    background-color: rgba(0,0,0,4);
    width: 30px;
    height: 40px;
}

.carousel-control-next-icon {
    opacity: 40%;
    background-color: rgba(0,0,0,4);
    width: 30px;
    height: 40px; 
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}


.button {
    background-color: #1b6ec2;
    width: 130px;
    height: 40px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}

input[type="submit"] {
    display: block;
    margin-left: auto;
}

navbar-toggler {
    background-color: white;
}

.button {
    float: right;
}

/* Cart */

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

        table#cart tfoot td .btn {
            display: block;
        }
}

/* about */

.about {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.about h1, h2 {
    text-align: center;
}

.about h2 {
    margin-top: 16px;
    margin-bottom: 60px;
}

.about img {
    width: 250px;
    height: 250px;
}

.text {
    margin: 12px;
    font-size: 28px;
}