/* navigation */
.header-nav {
    background-color: #0b0b0b;
}

.header-container {
    color: white;
}

A {
    color: #ffffff;
}


.about-title {
    text-align: center;
    margin: 10px;
    padding: 50px;
    font-family: 'roboto', cursive;
    font-size: 80px;
}

.about-list {
    display: flex;
    flex: 1 0 0%;
    flex-wrap: wrap;
}

.about-item {
    margin: 0 15px;
}




.home {
    color: #0026ff;
}